{% trans_default_domain 'Evaluations' %}
{% for comite in comites %}
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="income-dashone-total shadow-reset nt-mg-b-30 res-mg-t-30">
        <div class="sparkline13-hd">
            <div class="main-sparkline12-hd">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{ comite.idAppel }} - {{ comite.idAppel.niveauEnCours.idPhase.idPhaseRef }} - {{ comite }} <b>{{ 'evaluation.widget.suivi_expertise.titre'|trans }}</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="income-dashone-pro">
            {% if lienPortefeuille %} <p><a href="{{url('evaluations', {'idComite': comite.idComite, 'role': 'expert', 'portefeuille': true})}}">{{ 'evaluation.widget.suivi_expertise.mes_projets'|trans }}</a></p> {% endif %}
            {% if lienComite %} <p><a href="{{url('evaluations', {'idComite': comite.idComite, 'role': 'expert'})}}">{{ 'evaluation.widget.suivi_expertise.tous_les_projets'|trans }}</a></p> {% endif %}
        </div>
    </div>
</div>
{% endfor %}
