{% extends 'base.html.twig' %}
{% trans_default_domain 'AppelProjet' %}
{% block title %}New TgAppelProj{% endblock %}
  {% block stylesheets1 %}

      <!-- tabs CSS
          ============================================ -->
      <link rel="stylesheet" href="{{ asset('css/chosen/bootstrap-chosen.css') }}">
      <!-- modals CSS
    ============================================ -->
      <link rel="stylesheet" href="{{ asset('css/modals.css') }}">
      <style>
          /*#container {*/
          /*display: none;*/
          /*}*/

          /*.show {*/
          /*display: block !important;*/
          /*}*/
      </style>

  {% endblock %}
{% block body %}

    <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="sparkline8-list shadow-reset">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>{{ 'appel.projet.appelpro'|trans }}</h1>
                                <div class="sparkline8-outline-icon">
                                    <a href="{{ path('tg_appel_proj_index') }}">{{ 'appel.form.retour'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            {{ include('appelprojet/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <a href="#" id="dangerModal" data-toggle="modal" data-target="#dangerModalA"></a>#}
{#    {% include 'modalError/modalError.html.twig' %}#}


{% block javascripts1 %}
    <!-- modal JS
       ============================================ -->

    <script src="{{ asset('js/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('js/chosen/chosen-active.js') }}"></script>
{#    <script type="text/javascript">#}
{#        function addFields(){#}

{#            var number = document.getElementById("appel_projet_nbPhase").value;#}

{#            var container = document.getElementById("container");#}

{#            while (container.hasChildNodes()) {#}
{#                container.removeChild(container.lastChild);#}
{#            }#}
{#            for (i=0; i < number; i++){#}
{#                    for(x=0; x < 3 ; x++){#}
{#                    // container.appendChild(document.createTextNode("Date Debut phase" + (i+1)));#}

{#                    var fil = container.appendChild(document.createElement("div"));#}
{#                    fil.setAttribute("class", "form-group row" );#}
{#                     var label = document.createElement("label");#}
{#                     label.setAttribute('class', 'col-form-label col-sm-3');#}
{#                     label.appendChild(document.createTextNode("Date Debut phase" + (i+1)));#}
{#                     fil.appendChild(label);#}

{#                    var divinput = fil.appendChild(document.createElement("div"));#}
{#                    divinput.setAttribute('class', ' col-sm-6');#}
{#                    var input = document.createElement("input");#}
{#                    input.type = "date";#}
{#                    input.setAttribute('class', 'datapicker form-control ');#}
{#                    input.id = 'datedebut';#}
{#                    divinput.appendChild(input);#}
{#                    // container.appendChild(document.createElement("br"));#}


{#                    // container.appendChild(document.createTextNode("Date Fin  phase" + (i+1)));#}
{#                    // var input = document.createElement("input");#}
{#                    // input.type = "date";#}
{#                    // input.setAttribute('class', 'datapicker form-control ');#}
{#                    // input.id = 'datedebut';#}
{#                    // container.appendChild(input);#}
{#                    // container.appendChild(document.createElement("br"));#}
{#                }#}
{#            }#}
{#        }#}

{#    </script>#}
    {% endblock %}
{% endblock %}
