{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">{{ 'resetting.request.submit'|trans }}</div>
                    <div class="card-body">

                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                        {{ form_widget(form) }}
                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
                        </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}