{% extends 'base_soumission.html.twig' %}

{% trans_default_domain 'Blocs' %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/modals.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/data-table/bootstrap-table.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/data-table/bootstrap-editable.css') }}" />
    <style>
        .rightButton {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            float: right;
        }
        .d-block {
            color: crimson;
            font-size: 11px;
            display: ruby-base;
        }
        .badge {
            background-color: #dd1717;
            font-size: 10px;
        }
        textarea {
        min-height: 150px;
        }
    </style>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
     {% include 'bloc/list_blocs.html.twig' with { list_bloc:list_bloc, formulaire:formulaire, projet:projet, id_instrument:id_instrument } %}
    <div class="col-sm-9">
        {% block content %}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="advanced-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="sparkline8-list shadow-reset">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>{% for bloc in list_bloc %} {% if bloc.id_bloc == idBloc %} {{ bloc.libelle }} {% endif %} {% endfor %}</h1>
                            </div>
                        </div>
                        <div class="sparkline8-graph">

                            {% if(resume_ver_req) %}
                             <div class="row">
                             <div class="col-sm-1"></div>
                            <label class="required col-form-label col-sm-11"
                                   for="BlResumeType_resume">{{resume_ver_req}}
                            </label>
                            </div>
                            {% endif %}
                             <br><br>
                            {{ form_start(bloc) }}
                            <div class="form-group row">
                             <div class="col-sm-1"></div>
                            <div class="col-sm-11" id="BlResumeType_resume_fr">
                                {{ form_row(bloc.resumeFr, {'value' :   resumeFr, 'label_attr': {'class': 'required'}}) }}
                            </div>
                            </div>
                             <div class="form-group row">
                             <div class="col-sm-1"></div>
                            <div class="col-sm-11" id="BlResumeType_resume_en">
                                {{ form_row(bloc.resumeEn, {'value' :   resumeEn, 'label_attr': {'class': 'required'}}) }}
                            </div>
                            </div>

                               <br><br><br>
                                <div>
                                  <div class="col-md-6 col-sm-3"></div>
                                  <div class="col-md-2 col-sm-3">  <a href="{{ previousblock }}" class="btn btn-primary pull-right"><< Précédent</a> </div>
                                  <div class="col-md-2 col-sm-3"> {{ form_widget(bloc.saveBlocWithoutRedirect) }} </div>
                                  <div class="col-md-2 col-sm-3"> {{ form_widget(bloc.saveBloc) }} </div>
                              </div>


                                 <div class="form-group row">
                                     <div class="col-sm-12">
                                        {{ form_widget(bloc.saveFormulaire, { 'attr': {'class': 'hidden'} }) }}
                                     </div>
                                </div>
                            {{ form_end(bloc) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('js/autosize.js') }}"></script>
<script>
   $(function(){

      {% for error in errors %}
         var error_bloc = '<span class="invalid-feedback d-block"><span class="d-block"><span class="form-error-icon badge badge-danger text-uppercase">Erreur</span><span class="form-error-message"> {{ error.message }}</span></span></span>';
        if("{{ error.field }}" == 'BlResumeType_resumeFr')  $( error_bloc ).insertAfter( $( "#BlResumeType_resumeFr" ) );
        if("{{ error.field }}" == 'BlResumeType_resumeEn')  $( error_bloc ).insertAfter( $( "#BlResumeType_resumeEn" ) );
       {% endfor %}

    autosize($('#BlResumeType_resumeFr'));
    autosize($('#BlResumeType_resumeEn'));

    $('#BlResumeType_resumeFr').attr('maxlength', {{nb_car_max_fr}});
    $('#BlResumeType_resumeEn').attr('maxlength', {{nb_car_max_en}});

   var caractsFr = {{nb_car_max_fr}} - $("#BlResumeType_resumeFr").val().length;
   var caractsEn = {{nb_car_max_en}} - $("#BlResumeType_resumeEn").val().length;
   var nombreMotsfr = jQuery.trim($("#BlResumeType_resumeFr").val()).split(' ').length;
   var nombreMotsEn = jQuery.trim($("#BlResumeType_resumeEn").val()).split(' ').length;

    $("#BlResumeType_resumeFr").after('<p id="compteur">' + nombreMotsfr + ' mots | ' + caractsFr + ' Caractère(s) / {{nb_car_max_fr}}</p>');
    $("#BlResumeType_resumeEn").after('<p id="counter">' + nombreMotsEn + ' mots | ' + caractsEn + ' Caracter(s) / {{nb_car_max_en}}</p>');


    function calculCaract(field, max, counter) {
         $('#' + field + '').keyup(function() {

          var nombreCaractere2 = $(this).val().length;
          var nombreCaractere2 = max - nombreCaractere2;

          var nombreMots2 = jQuery.trim($(this).val()).split(' ').length;
          if($(this).val() === '') {
          	nombreMots2 = 0;
          }
          var msg2 = ' ' + nombreMots2 + ' mot(s) | ' + nombreCaractere2 + ' Caractère(s) restant';
          $('#' + counter + '').text(msg2);
         if (nombreCaractere2 < 1) { $('#' + counter + '').addClass("mauvais"); } else { $('#' + counter + '').removeClass("mauvais"); }

         if(nombreCaractere2 < 10){
            $(this).css("border-color","red");
         }
         else { $(this).css("border-color","#66afe9");}
      });

  }

  calculCaract("BlResumeType_resumeFr", {{nb_car_max_fr}}, 'compteur');
  calculCaract("BlResumeType_resumeEn", {{nb_car_max_en}}, 'counter');

     $('.enreg-resume').click(function (e) {
            var path = $(e.target).data('id');
            $.ajax({
                'url': path,
                type: 'POST',
                data:{
                    'resume_fr': $("#BlResumeType_resumeFr").val(),
                    'resume_en': $("#BlResumeType_resumeEn").val(),
                },
                success: function (data) {
                    location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert('Error : ' + errorThrown);
                }
            });
        });


});
</script>
{% endblock %}