
{{ form_start(participantsForm) }}
<div class="respsc">
    {{ form_row(participantsForm.resp) }}
</div>
{{ form_row(participantsForm.civ) }}
{{ form_row(participantsForm.nom) }}
{{ form_row(participantsForm.prenom) }}
{{ form_row(participantsForm.email) }}
{{ form_row(participantsForm.orcid) }}
{{ form_row(participantsForm.idPartenaire) }}
{{ form_end(participantsForm) }}
