<div class="breadcome-area mg-b-30 small-dn">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="sparkline8-list shadow-reset">
                <div class="sparkline8-hd" style="background: #b7b8e1">
                    <div class="main-sparkline8-hd">
                        <h1> Appel à projet : <b> {{ appel }}  : {{ phases }}</b></h1>
                        <div class="sparkline8-outline-icon">
                            <button class="btn btn-link" type="button" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
                <div class="sparkline8-graph">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Classe</th>
                                <th>Formulaire</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form in formulaire %}
                                <tr>
                                    <td>{{ form.idClasseFormulaire }}</td>
                                    <td>{{ form.lbFormulaire }}</td>
                                    <td>{% if updateForm == null %}
                                        <a href="{{ path('add-form', {'idAppel' : appel.idAppel, 'idFormulaire' : form.idFormulaire , 'idPhase' : phases.idPhase}) }}">
                                            <i class="fa fa-plus fa-fw"></i> Ajouter</a>
                                            {% else %}
                                                <form method="post" action="{{ path('add-form', {'idAppel' : appel.idAppel, 'idFormulaire' : form.idFormulaire, 'idPhase' : phases.idPhase, 'replace' : updateForm }) }}">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('ajouterForm' ~ appel.idAppel) }}">
                                                    <button class="btn btn-link text-right" aria-hidden="true"><i class="fa fa-pencil fa-fw"></i> Remplacer </button>
                                                </form>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
