<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue dans IRIS!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
     ============================================ -->
    {#        <link rel="shortcut icon" type="image/x-icon" href="proad/img/favicon.ico">#}
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/adminpro-custon-icon.css') }}">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}">

    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/alerts.css') }}">

    {% block stylesheets1 %}{% endblock %}
    <!-- form CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- modernizr JS
        ============================================ -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body class="materialdesign">
<div class="wrapper-pro">
    <!-- navigateur verticale -->
    {% include 'navig/leftmenu.html.twig' %}
    <div class="content-inner-all">
        <!-- Navigateur Horizontal  user,notification ... -->
        {#        {% if app.session.get('profil') != null %}#}
        {% include 'navig/header.horiz.html.twig' %}
        <!-- Navigateur Horizontal bas , page/ ... -->
{#        {% include 'navig/header.horiz.bas.html.twig' %}#}
        {#        {% endif %}#}
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 small-dn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcome-list shadow-reset">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6">
                                    <ul class="breadcome-menu">
                                        <li>
                                            <a href="{{ path('accueil') }}">Accueil</a>
                                            <span class="bread-slash">/</span>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'navig/mobile.header.html.twig' %}
        {% include 'navig/header.horiz.non.html.twig' %}
        {% include 'messagesflash.html.twig' %}

        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
    </div>
</div>


<script src="{{ asset('js/vendor/jquery-1.11.3.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js') }}"></script>

<script src="{{ asset('js/vendor') }}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{{ asset('js/jquery.meanmenu.js') }}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>

{% block javascripts1 %}{% endblock %}

<!-- sticky JS
    ============================================ -->
<script src="{{ asset('js/jquery.sticky.js') }}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<!-- form validate JS
    ============================================ -->
<script src="{{ asset('js/jquery.form.min.js') }}"></script>
<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('js/form-active.js') }}"></script>
<!-- main JS
    ============================================ -->
<script src="{{ asset('js/main.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
