<div class="text-center"><h4>Comite : {{ comite }} </h4></div>
<div class="text-center">Emetteur : {{ personne }} </div>
{{ form_start(form, {'action': path('new_message_comite', {'idComite' : comite.idComite }), 'attr': {'id': 'ajouterMessage'}  ,'method': 'POST'}) }}
 {{ form_widget(form) }}
<div class="row">
 <div class="footer-text-right">
  <button class="btn btn-warning" data-dismiss="modal">Fermer</button>
  <button class="btn btn-primary" id="submitBtn" type="submit">Envoyer</button>
 </div>
</div>
{{ form_end(form) }}