{% extends 'base.html.twig' %}
{% trans_default_domain 'Comites' %}
{% block title %}{{ 'comite.liste.creercomite'|trans }}{% endblock %}
 {% block stylesheets1 %}
     <!-- mCustomScrollbar CSS
    ============================================ -->
     <link rel="stylesheet" href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}">

     <!-- animate CSS
    ============================================ -->
     <link rel="stylesheet" href="{{ asset('css/animate.css') }}">


 {% endblock %}
{% block body %}

    <div class="advanced-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"> </div>
            <div class="col-lg-6">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>{{ 'comite.form.selComite'|trans }}</h1>
                            <div class="sparkline8-outline-icon">
                                <a class="btn" href="{{ path('accueil') }}">{{ 'comite.form.retour'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        {% if comites is not empty %}
                        <form method="post" action="{{ path('select_comite') }}">
                            <div class="user-profile-contact project-st-menu-scrollbar">
                            {% for comite in comites %}
{#                                {% if (is_granted('ROLE_CPS') and comite.idcomite in comitePart) or (is_granted('ROLE_PILOTE')  and pilote == true) or is_granted('ROLE_PILOTE')   %}#}
                                {% if  ((is_granted('ROLE_CPS') or is_granted('ROLE_PRES') or is_granted('ROLE_VPRE')) and comite in comitePart) or pilote == true or is_granted('ROLE_DOS_EM') %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="i-checks pull-left">
                                            <label>
                                                <input type="radio" value="{{ comite.idcomite }}" name="selectComite"> <i></i> {{ comite.lbAcr }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"> {{ comite.lbTitre }}</div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="footer-text-right">
                                <button class="btn btn-default" type="reset">Retour</button>
                                <button class="btn btn-primary" type="submit" name=""> Suivant</button>
                            </div>
                        </form>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="i-checks pull-left">
                                        <p>aucun comité !</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block javascripts1 %}
        <!-- mCustomScrollbar JS
    ============================================ -->
        <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <!-- icheck JS
            ============================================ -->
        <script src="{{ asset('/js/icheck/icheck.min.js') }}"></script>
        <script src="{{ asset('/js/icheck/icheck-active.js') }}"></script>
    {% endblock %}

{% endblock %}