{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    {{ form_row(form.president) }}#}

{#<div class="footer-text-right">#}
{#    <button class="btn btn-primary">{{ button_label|default('save') }}</button>#}
{#</div>#}
{#{{ form_end(form) }}#}

