{% trans_default_domain 'Evaluations' %}

<span class="container_legend">
  <span class="title_legend">
    <u onclick="toggle_legend()">
      {{ 'evaluation.actions.legende'|trans }}
    </u>
  </span>
  <span class="title_legend" style="display: none;">
    <u onclick="toggle_legend()">
      {{ 'evaluation.evaluations'|trans }}
    </u>
  </span>
  {% for evaluation in statusEvaluations|filter(e => e.ordreAffichage is not null)|sort((a, b) => a.ordreAffichage <=> b.ordreAffichage) %}
  <span class="item_legend" style="display: none;">
    <i class="fa fa-2x fa-square" style="color: #{{evaluation.colorHexa}};" id="colorLegende"></i>
    <span id="titreLegende">
      {% if evaluation.cdStsEvaluation is not null %}
      {{ evaluation.cdStsEvaluation }}
      {% elseif evaluation.cdSollicitation is not null %}
      {{ evaluation.cdSollicitation }}
      {% endif %}
    </span>
  </span>
  {% endfor %}
</span>

<script>
  toggle_legend = function () {
    $('.container_legend .title_legend').toggle();
    $('.container_legend .item_legend').fadeToggle(500);
  };
</script>
{% block stylesheet %}
<style>
  .container_legend {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 34px;
    margin-right: 3px;
    white-space: nowrap;
  }

  .title_legend {
    cursor: pointer;
    margin-right: 3px;
  }

  .item_legend {
    flex-grow: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #colorLegende,
  #titreLegende {
    margin-right: 3px;
  }
</style>
{% endblock %}