{% extends 'base.html.twig' %}
{% trans_default_domain 'Evaluations' %}

{% block title %}{{ 'evaluation.evaluation'|trans }}{% endblock %}

{% block stylesheets %}
<style>
    #tableStyle {
        margin-bottom: 20px;
        background-color: whitesmoke;
        padding: 0 !important;
    }

    #tableStyle .row {
        margin: 0 !important;
        padding: 25px 15px 25px 15px;
        display: flex;
        width: 100%;
    }

    #echeanceStyle {
        margin-left: auto;
        margin-right: 10px;
    }

    #rechercheStyle {
        width: 300px;
    }

    .table th {
        text-align: center;
    }

    #rapporteurTitleStyle,
    #lecteurTitleStyle {
        text-align: left;
    }

    #projetStyle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 130px;
        padding-left: 25px;
    }

    #criticiteStyle {
        width: 100px;
        text-align: center;
    }

    #evaluationsStyle {
        display: flex;
    }

    #evaluationsPreviousStyle {
        cursor: pointer;
        margin-right: 10px;
    }

    .evaluationsStatutStyle {
        max-width: 275px;
        white-space: nowrap;
        overflow: hidden;
    }

    #evaluationsNextStyle {
        cursor: pointer;
        margin-left: 10px;
    }

    #rapporteurStyle,
    #lecteurStyle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 190px;
    }

    #langueStyle {
        text-align: center;
    }

    #echeanceModalContent {
        border: none;
    }

    #echeanceModalBody {
        display: flex;
    }

    #echeanceModalHeader {
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #echeanceModalFooter {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
    }

    #echeanceModalDateDuJour {
        color: #fde19a;
        display: contents;
    }

    #echeanceModalDateComite {
        color: red;
        display: contents;
    }

    #echeanceModalNewDateComite {
        color: blueviolet;
        display: contents;
    }

    #echeanceModalDateDuJourLegende,
    #echeanceModalDateComiteLegende,
    #echeanceModalNewDateComiteLegende {
        color: black;
    }

    #echeanceModalBodyLegende {
        flex-grow: 1;
        margin-left: 25px;
    }

    #echeanceModalBodyTitleLegende {
        text-align: center;
        padding-top: 10px;
        border-bottom: 1px solid black;
    }

    #echeanceModalBodyContentLegende {
        margin-top: 10px;
        margin-left: 10px;
    }

    .dateEcheanceComite {
        background-color: red;
        color: white;
    }

    #echeanceModalNewDateComiteLegende {
        display: inline-flex;
    }

    #newDateComite {
        width: 75px;
        border: none;
        padding-top: 2px;
        margin-left: 2px;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block navmenu %}
<span class="bread-slash">/</span>
<li><a href={{ path('evaluations') }}><b>{{ 'evaluation.evaluations'|trans }}</b></a></li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="breadcome-list shadow-reset" id="tableStyle">
        <div class="row">
            <div>
                {% include 'evaluation/evaluation/evaluation.legende.html.twig'  with statusEvaluations %}
            </div>
            <div id="echeanceStyle">
                <button class="btn btn-primary" data-toggle="modal" data-target="#echeanceModal"><i
                        class="fa fa-calendar"></i>
                    {{ 'evaluation.actions.echeance'|trans }}</button>
            </div>
            <div class="breadcome-heading has-feedback" id="rechercheStyle">
                <input id="filter" type="text" placeholder="Recherche..." class="form-control" style="width:100%">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
        <div class="table-responsive">
            <!-- tableau -->
            <table class="table" id="sortTable">
                <thead>
                    <tr>
                        <th>
                            <h5>{{ 'evaluation.projet'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span>
                            </h5>
                        </th>
                        <th>
                            <h5>{{ 'evaluation.criticite'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span></h5>
                        </th>
                        <th>
                            <h5>{{ 'evaluation.evaluations'|trans }}</h5>
                        </th>
                        <th id="rapporteurTitleStyle">
                            <h5>{{ 'evaluation.rapporteur'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span></h5>
                        </th>
                        <th id="lecteurTitleStyle">
                            <h5>{{ 'evaluation.lecteurs'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span>
                            </h5>
                        </th>
                        <th>
                            <h5>{{ 'evaluation.recuse'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span>
                            </h5>
                        </th>
                        <th>
                            <h5>{{ 'evaluation.langue'|trans }}<span class="sort_tab fa fa-fw fa-sort"></span>
                            </h5>
                        </th>
                        <th>
                            <h5>{{ 'evaluation.action'|trans }}</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for projet in projets %}
                    <tr>
                        <td id="projetStyle">
                            {% if projet.idComite.IdLangue is defined  %}
                            {% if projet.idComite.IdLangue == 1 %}
                            <a href="{{ path('evaluations_project', {'idProjet': projet.idProjet}) }}">
                                {{ projet.lbTitreFr }}
                            </a>
                            {% else %}
                            <a href="{{ path('evaluations_project', {'idProjet': projet.idProjet}) }}">
                                {{ projet.lbTitreEn }}
                            </a>
                            {% endif %}
                            {% else %}
                            <a href="{{ path('evaluations_project', {'idProjet': projet.idProjet}) }}">
                                {{ projet.lbTitreFr }}
                            </a>
                            {% endif %}
                        </td>
                        <td id="criticiteStyle">
                            {% set criticite = projet.criticite %}
                            {% include 'evaluation/evaluation/evaluation.criticite.html.twig' with criticite %}
                        </td>
                        <td id="evaluationsStyle">
                            {% if role == 'expert' %}
                            {% set experts = projet.tgAffectations|filter(affect => affect.idStAffect.lbNom == 'Expert') %}
                            {% if experts|length > 10 %}
                            <i onclick="previous('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-left"
                                id="evaluationsPreviousStyle"></i>
                            {% endif %}
                            <div id="scroll_{{ projet.idProjet }}" class="evaluationsStatutStyle">
                                {% include 'evaluation/evaluation/evaluation.panel.html.twig' with experts %}
                            </div>
                            {% if experts|length > 10 %}
                            <i onclick="next('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-right"
                                id="evaluationsNextStyle"></i>
                            {% endif %}
                            {% elseif role == 'rl' %}
                            {% set experts = projet.tgAffectations|filter(affect => affect.idStAffect.lbNom == 'Rapporteur' or affect.idStAffect.lbNom == 'Lecteur') %}
                            {% if experts|length > 10 %}
                            <i onclick="previous('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-left"
                                id="evaluationsPreviousStyle"></i>
                            {% endif %}
                            <div id="scroll_{{ projet.idProjet }}" class="evaluationsStatutStyle">
                                {% include 'evaluation/evaluation/evaluation.panel.html.twig' with experts %}
                            </div>
                            {% if experts|length > 10 %}
                            <i onclick="next('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-right"
                                id="evaluationsNextStyle"></i>
                            {% endif %}
                            {% else %}
                            {% set experts = projet.tgAffectations %}
                            {% if experts|length > 10 %}
                            <i onclick="previous('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-left"
                                id="evaluationsPreviousStyle"></i>
                            {% endif %}
                            <div id="scroll_{{ projet.idProjet }}" class="evaluationsStatutStyle">
                                {% include 'evaluation/evaluation/evaluation.panel.html.twig' with experts %}
                            </div>
                            {% if experts|length > 10 %}
                            <i onclick="next('scroll_{{ projet.idProjet }}')" class="fa fa-2x fa-caret-right"
                                id="evaluationsNextStyle"></i>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td id="rapporteurStyle">
                            {% set rapporteurs = projet.tgAffectations|filter(affect => affect.idStAffect.lbNom == 'Rapporteur')  %}
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                title="{{ rapporteurs|map(rapporteur => "#{rapporteur.idPersonne.lbNomUsage|upper} #{rapporteur.idPersonne.lbPrenom|capitalize} (#{projet.tgAffectations|filter(affect => affect.idPropose == rapporteur.idPersonne)|length})")|join(' ') }}">
                                {% for rapporteur in rapporteurs %}
                                {{ rapporteur.idPersonne.lbNomUsage|upper }}
                                {{ rapporteur.idPersonne.lbPrenom|capitalize }}
                                ({{ projet.tgAffectations|filter(affect => affect.idPropose == rapporteur.idPersonne)|length }})
                                {% endfor %}
                            </span>
                        </td>
                        <td id="lecteurStyle">
                            {% set lecteurs = projet.tgAffectations|filter(affect => affect.idStAffect.lbNom == 'Lecteur') %}
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                title="{{ lecteurs|map(lecteur => "#{lecteur.idPersonne.lbNomUsage|upper} #{lecteur.idPersonne.lbPrenom|capitalize} (#{projet.tgAffectations|filter(affect => affect.idPropose == lecteur.idPersonne)|length})")|join(' ') }}">
                                {% for lecteur in lecteurs %}
                                {{ lecteur.idPersonne.lbNomUsage|upper }}
                                {{ lecteur.idPersonne.lbPrenom|capitalize }}
                                ({{ projet.tgAffectations|filter(affect => affect.idPropose == lecteur.idPersonne)|length }})
                                {% endfor %}
                        </td>
                        <td></td>
                        <td id="langueStyle">
                            {% set doc = projet.tgDocument|filter(doc => doc.idTypeDoc == '1')|first %}
                            {% if doc is not empty %}
                            {% if doc.idLangue is not empty %}
                            {{ doc.idLangue.cdLangue }}
                            {% else %}
                            no language
                            {% endif %}
                            {% else %}
                            no doc
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="echeanceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="echeanceModalContent">
            <div class="modal-header bg-primary text-white" id="echeanceModalHeader">
                <h4 class="modal-title">{{ 'date échéance comité'|upper }}</h4>
            </div>
            <div class="modal-body" id="echeanceModalBody">
                {% set dateEcheanceComite = comite.dhRenduEvalRl %}
                <div id="datepicker" data-date-echeance-comite="{{ dateEcheanceComite|date('d/m/Y') }}"></div>
                <div id="echeanceModalBodyLegende">
                    <div id="echeanceModalBodyTitleLegende">
                        <h4>Légende</h4>
                    </div>
                    <div id="echeanceModalBodyContentLegende">
                        <div class="fa fa-circle fa-stack-1x" id="echeanceModalDateDuJour">
                            <span id="echeanceModalDateDuJourLegende">Date du jour : {{ "now"|date("d/m/Y") }}</span>
                        </div>
                        <br>
                        <div class="fa fa-circle fa-stack-1x" id="echeanceModalDateComite">
                            <span id="echeanceModalDateComiteLegende">Date échéance comité :
                                {{ dateEcheanceComite|date("d/m/Y") }}</span>
                        </div>
                        <br>
                        <div class="fa fa-circle fa-stack-1x" id="echeanceModalNewDateComite">
                            <span id="echeanceModalNewDateComiteLegende">Nouvelle date échéance comité : <input
                                    type="text" id="newDateComite" disabled /></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="echeanceModalFooter">
                <button type="button" class="btn btn-light" data-dismiss="modal"
                    id="echeanceModalCloseButton">Fermer</button>
                <button type="button" class="btn btn-danger" id="echeanceModalSaveButton" onclick="saveNewDateComite()"
                    data-id-comite="{{ comite.idComite }}"
                    data-path="{{ path('update_ajax_date_comite') }}">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.widgets.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));

    $("#sortTable")
        .tablesorter({
            // Enable filter
            widgets: ["filter"],
            widgetOptions: {
                filter_columnFilters: false,
                filter_searchDelay: 60,
                filter_useParsedData: true
            },
            sortList: [
                [1]
            ]
        });

    function next(scrollId) {
        content = document.getElementById(scrollId);
        content.scrollLeft += 28;
    }

    function previous(scrollId) {
        content = document.getElementById(scrollId);
        content.scrollLeft -= 28;
    }

    var echeanceComite = $('#datepicker').data('dateEcheanceComite');

    $('#datepicker').datepicker({
        language: 'fr',
        calendarWeeks: true,
        todayHighlight: true,
        clearBtn: true,
        startDate: new Date(),
        beforeShowDay: function (date) {
            formattedDate = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            if (formattedDate == echeanceComite) {
                return { classes: 'dateEcheanceComite' };
            }
            return;
        }
    });

    $('#datepicker').datepicker().on('changeDate', function (e) {
        $('#newDateComite').val(e.format(0, "dd/mm/yyyy"));
    });

    function saveNewDateComite() {
        idComite = $('#echeanceModalSaveButton').data('idComite');
        path = $('#echeanceModalSaveButton').data('path');
        newDateComite = document.getElementById("newDateComite").value;
        $.ajax({
            url: path,
            type: 'POST',
            data: 'idComite=' + idComite + '&newDateComite=' + newDateComite,
            success: function (response) {
                $('.close').trigger('click');
                document.location.reload(true);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Error : ' + errorThrown);
            }
        });
    }

</script>
{% endblock %}