{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}
{% block body %}
    <br>
    <div class="text-center">
        <div class="sidebar-header">
            <a href="#"><img src="{{ asset('img/logo_iris.png') }}" alt="" />
            </a>

            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({_locale: 'en'}))) }}">
                <img width="15" src="{{ asset('img/en.png') }}" alt="en">
            </a>

            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({_locale: 'fr'}))) }}">
                <img width="15" src="{{ asset('img/fr.png') }}" alt="fr">
            </a>

            <strong></strong>
        </div>

    </div><br>
    <main class="login-form">
        <div class="cotainer">

            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{ include('messagesflash.html.twig') }}
                    <div class="card">
                        <div class="card-header text-center" style="background-color:#007bff;">Confirmation email</div>
                        <div class="card-body">
                            {{ message }} <div class="text-right"> <a href="{{ path('fos_user_security_login') }}" class="btn btn-link"> retour</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

