{% trans_default_domain 'FOSUserBundle' %}

<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[ANR] : Nouveau Rôle affecté - {{profil}}</h3>

Bonjour,<br>
Vous venez d'être ajouter autant que {{profil}} sur IRIS.<br>
<i>You have just been added as much as {{profil}} on IRIS.</i>
<br><br>

Afin d'accéder a votre compte,<br>
<i>To activate your account,</i><br><br>

Veuillez utiliser votre adresse mail et Mot de passe.<br>
<i>Please use your email and password.</i><br><br>

{{ url }}

<br><br>
Merci<br>
<i>Thanks!</i>


