{% trans_default_domain 'FOSUserBundle' %}

<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[IRIS] Création compte {{profil}}</h3>

Bonjour,<br>
Vous venez d'être ajouter autant que {{profil}} sur IRIS.<br>
<i>You have just been added as much as {{profil}} on IRIS.</i>
<br><br>

Afin d'activer votre compte,<br>
<i>To activate your account,</i><br><br>

Veuillez cliquer sur le lien et compléter l'enregistrement de votre compte.<br>
<i>Please click on the link and complete the registration of your account.</i><br><br>

{{ confirmation_email }}

<br><br>
Merci<br>
<i>Thanks!</i>


