
<div class="row">
  {{ include('evaluation/evaluation/modal/contact_personne.html.twig', {personne: tgPersonne}) }}
</div></br></br>
<div class="row">
  
  <div class="col-md-6">
    <h4 class="modal-title">Post-it </a></h4>
  </div>
  <div class="col-md-6">
    <h4 class="modal-title"><a href="#" id="show_edit_comment" class="footer-text-right" type="button"
                                                data-id="{{ path('update_name') }}"><span class="adminpro-icon adminpro-edit"></span></a></h4>
  </div>
  
</div></br></br>
<div class="row">
  
  
  <div class="row add_comment">
      
      {#% if is_granted('ROLE_CPS') == true  onsubmit="return confirm('voulez vous supprimer ce comité ?');" %#}
          <!-- block annulation comite >
          <form method="post" action="#">
                <input type="hidden" name="_token"-->
              <div class="row">
                <div class="col-md-12">
                  <textarea id="add_comment" name="add_comment" rows="5" cols="100"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary cancel-comment">Fermer</button>
                    <button type="submit" class="btn btn-warning send-comment" data-id="{{ path('set_ajax_comment') }}" data-idprojet="{{ project.idProjet }}" data-idpersonne="{{ tgPersonne.idPersonne }}">Soumettre</button>
                </div>
              </div>
          <!--/form--><br>
      {#% endif %#}
  </div>
  <div class="row">
      <div id="comments" class="col-md-12">
        {% for comment in personneComments %}
          <p>{{ comment.idPersonne.lbNomUsage ~ " " ~ comment.idPersonne.lbPrenom }}:</p>
          <p>{{ comment.dhCommande| date('d/m/Y') }} à {{ comment.dhCommande| date('H:i') }}</p>
          <p>{{ comment.txtCommentaire }}</p>
          <hr>
        {% endfor %}
      </div>
  </div>
</div>

{% block javascripts %}
    <script>
        $(document).on("click", "#show_edit_comment", function () {
            $('.add_comment').css({'display': 'block'});
            $('.cancel-comment').on("click", function () {
              $('.add_comment').css({'display': 'none'});
            });
        });
            // AJAX request
            $('.send-comment').on("click", function (event ) {
              event.preventDefault();
              $.ajax({
                  url: $(this).data('id'),
                  type: 'POST',
                  data: 'idPersonne='+ $(this).data('idpersonne')+'&idProjet='+ $(this).data('idprojet')+'&comment='+ $('textarea#add_comment').val(),
                  success: function (response) {
                    if (response.success) {
                      $('textarea#add_comment').val('');
                      $('.cancel-comment').trigger("click");
                      $('#comments').html(' ');
                      var html = '';
                      response.comments.forEach(function(comment) {
                          html += "<p>"+comment.lbNomUsage+' '+comment.lbPrenom+' :</p>'+
                          '<p>'+comment.dhCommandeDay+ ' à '+comment.dhCommandeTime+ '</p>'+
                          '<p>'+comment.txtCommentaire+'</p><hr>';
                      });

                      $('#comments').html(html);
                    }
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert('Error : ' + errorThrown);
                  }
              });
            });
    </script>
{% endblock %}

